@model MySchedulingVKR.Models.Lesson

@{
    ViewData["Title"] = "Details";
}

<div style="margin-left:50px;">
    <h1>Информация</h1>

    <div>
        <h4>Занятие</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                День недели
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DayOfTheWeek)
            </dd>
            <dt class="col-sm-2">
                Время
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Time)
            </dd>
            <dt class="col-sm-2">
                Дата
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Date)
            </dd>
        </dl>
    </div>
</div>
